/* @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

html,
body {
  height: 99.6%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: rgb(70, 70, 70);
  /* font-size: 50px; */
  padding: 6px;
  width: 400px;
  height: 500px;
  /* note no border box */
  /* display: flex; */
  /* flex-direction: column; */
}

#calculator * {
  font-size: 30px;
  font-family: monospace;
}

#display-container {
  background-color: rgb(170, 170, 170);
  border: 2px solid black;
  padding: 6px;
  box-sizing: border-box;
  height: 100px;
}

#top-display {
  font-size: 25px;
  color: rgb(77, 77, 77);
  height: 25%;
}

#display {
  font-size: 40px;
  text-align: right;
  height: 75%;
}

#operators {
  height: 100px;
  display: flex;
  gap: 4px;
}

#operators *,
#numbers * {
  margin: 2px 0px;
  box-sizing: border-box;
  flex: 1 1 80px;
}

#numbers #dot {
  flex-grow: 0.162;  /* i just jerry-rigged this */
}

#bottom-group {
  height: 300px;  /* i feel like this is not-so responsive design */
  display: flex;
}

#numbers {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

#control {
  width: 100px;
  display: flex;
  flex-direction: column;
}

#control * {
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright; */
  margin: 2px 0px 2px 2px;
  flex: 1;
}