html,
body {
  height: 99.6%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: rgb(70, 70, 70);
  /* font-size: 50px; */
  padding: 6px;
  width: 400px;
  height: 500px;
  /* note no border box */
  /* display: flex; */
  /* flex-direction: column; */
}

#display {
  background-color: gray;
  border: 2px solid black;
  height: 100px;
  box-sizing: border-box;
}

#operators {
  height: 100px;
  display: flex;
  gap: 4px;
}

#operators *,
#numbers * {
  margin: 2px 0px;
  box-sizing: border-box;
  flex: 1 1 80px;
}

#bottom-group {
  height: 300px;  /* i feel like this is not-so responsive design */
  display: flex;
}

#numbers {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

#control {
  width: 100px;
  display: flex;
  flex-direction: column;
}

#control * {
  flex: 1;
  margin: 2px 0px 2px 2px;
}